body, html {
    margin: 0;
    /*elimina cualquier espacio o margen externo alrededor del elemento*/
    background-image: url("/Generales/img/fondo.jpeg");
    position: fixed;
    /*hace que el elemento esté "fijo" respecto al viewport */
    width: 100%;
    /*establece el ancho del elemento al 100% del ancho de su contenedor*/
    height: 100%;
    /*establece la altura del elemento en el 100% de la altura visible del viewport*/
    background-size: cover;
    /*ajusta la imagen de fondo,la hace responsive.*/
    background-repeat: no-repeat;
    /*No se repite.*/
    background-attachment: fixed;
    /*Permanece fija mientras se hace scroll.*/
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.settings-container {
    background-color: rgba(14, 78, 62, 0.5);
    height: 43vw;   
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 490px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.settings-title {
    font-family: "Kavoon", serif;
    color:  rgb(0, 255, 0);
    font-size: 2.4vw;
    margin: 0;
}
.close-btn {
    cursor: pointer;
}
.dinChibi{
    background-image: url("/Generales/img/dinosaurio-cute.png");
    background-repeat: no-repeat;
    background-position: -100px;
    background-size: 100%;
    width: 15vw;
    height: 15vw;
    overflow: hidden;
}
.dinochibi{
    background-image: url("/Generales/img/dinosaurio-cute.png");
    background-repeat: no-repeat;
    background-position: 0px;
    background-size: 100%;
    width: 22vw;
    height: 22vw;
    margin-right: 23vw;
    margin-top: 16vw;
    position: absolute;
}
.mascot {
    background-image: url("/Generales/img/logo.png");
    background-repeat: no-repeat;
    background-position: 0px;
    background-size: 90%;
    width: 15vw;
    height: 15vw;
    opacity: 0.6;
    overflow: hidden;
    margin-left: 8vw;
}


.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    background-color: #FFF9C4;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}
.option-text {
    font-size: 20px;
    color: #333;
    margin-left: -4vw;
}
.toggle {
    width: 50px;
    height: 30px;
    background-color: #4CAF50;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
}
.toggle::before {
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: white;
    top: 2px;
    right: 2px;
    transition: 0.2s;
}
.toggle.off {
    background-color: #F44336;
}
.toggle.off::before {
    transform: translateX(-20px);
}
.botonn {
    background-color: #FFF9C4;
    border: none;
    text-align: left;
    padding: 12px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}
.bot-logout {
    font-weight: bold;
}
.boton{
    margin-left: 32vw;
    margin-top: -5vw;
}

.contenedor-recuadros{
    width: 20vw;
    margin-left: 12vw;
}

.rojo{
    background-color: red;
}

