.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 30vh;
    width: 4vw;
    margin-left: 85vw;
    margin-top: 0.5vw;
    position: absolute;
    z-index: 10;
}
.icon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fondo semitransparente */
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}
.icon:hover {
    background-color: rgba(0, 0, 0, 0.8);
    /* Cambio de fondo al pasar el mouse */
}
.icon i,
.icon span {
    font-size: 30px;
    color: black;
}
body {
    margin: 0;
    /*elimina cualquier espacio o margen externo alrededor del elemento*/
    background-image: url("../../Generales/img/fondo.jpeg");
    position: fixed;
    /*hace que el elemento esté "fijo" respecto al viewport */
    width: 100%;
    /*establece el ancho del elemento al 100% del ancho de su contenedor*/
    height: 100%;
    /*establece la altura del elemento en el 100% de la altura visible del viewport*/
    background-size: cover;
    /*ajusta la imagen de fondo,la hace responsive.*/
    background-repeat: no-repeat;
    /*No se repite.*/
    background-attachment: fixed;
    /*Permanece fija mientras se hace scroll.*/
}
#contenedor {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    /*establece el ancho del elemento al 100% del ancho de su contenedor*/
    height: 100vh;
}

.hojas {
    width: 33vw;
    height: 33vw;
    opacity: 0.8;
    z-index: 1;
    margin-right: 70vw;
    position: absolute;
    margin-top: -16vw;

}

.hojas-2 {
    width: 33vw;
    height: 33vw;
    opacity: 0.8;
    z-index: 1;
    margin-right: 72vw;
    position: absolute;
    /* 50% de transparencia */
    z-index: 1;
    /* Volteo horizontal */
    transform: rotate(-150deg);
    /* Opcional: ajusta el contenedor si es necesario */
    margin-top: 22vw;
}

.hojas-3 {
    width: 33vw;
    height: 33vw;
    opacity: 0.8;
    margin-left: 66vw;
    position: absolute;
    margin-top: 12vw;
    z-index: 1;
    transform: rotate(90deg);
    margin-bottom: 20vw;
}


.titulo {
    color: rgb(0, 255, 0);
    font-family: "Kavoon", serif;
    font-size: 4vw;
    margin-top: 0.5vw;
}

.logo {
    background-image: url("../../Generales/img/logo.png");
    background-repeat: no-repeat;
    background-position: 0px;
    background-size: 100%;
    width: 18vw;
    height: 18vw;
    opacity: 0.6;
}

.cuadro {
    background-color: rgba(14, 78, 62, 0.5);
    width: 90vw;
    height: 43vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;

}


.enviar {
    font-family: "Kavoon", serif;
    background-color: #C0E780;
    border-radius: 1.2rem;
    border: none;
    margin-top: 2%;
    padding: 0.5vw 2vw;
    font-size: 2vw;
    cursor: pointer;
    box-shadow: 8px -2px 2px rgba(0, 0, 0, 0.7)
}

.enviar:hover {
    box-shadow: 0.5px 0.5px 4px 2px #0f9b0f;
}

.unirme {
    padding: 0.5vw 3.2vw;
}
/* 
.modal-header {
    background-color: rgba(23, 53, 45, 0.5) !important;
    border: none !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    border-bottom: none !important;
}

.inicioLogo {
    width: 20% !important;
    height: 20% !important;
    opacity: 0.6 !important;
    margin-top: 0.5vw !important;

}

.modal-body{
    background-color: rgba(23, 53, 45, 0.5);
    padding: 1vw !important;
   

}

.title-modal {
    color: rgb(9, 255, 9);
    font-family: "Kavoon", serif;
    font-size: 2.5vw;
    margin-left: 3vw;
}

.context {
    background-color: rgb(255, 255, 255);
    border-radius: 1.3rem;
    padding: 1.5vw;
    width: 80%;
    margin-left: 4vw;
    font-family: "Kavoon", serif;
    margin-top: -1vw;
}

.close-custom {

    background-image: url("/Generales/img/cerrar.png") !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    width: 3vw !important;
    height: 3vw !important;
    cursor: pointer !important;
    position: absolute !important;
    top: 10px !important;
    right: 10px !important;

}

.BingoImg {
    background-repeat: no-repeat;
    background-position: 0px;
    background-size: 100%;
    width: 30vw;
    margin-top: 0.5vw;
    margin-left: 1vw;
} */

@media (orientation:portrait) {

    .logo {
        width: 32vw;
        height: 47vw;
        margin-top: -8vw;
        margin-bottom: -7vw;


    }

    #contenedor {
        width: 100%;
    }

    .cuadro {
        width: 100%;
        height: 80%;

    }

    .titulo {
        font-size: 8vw;
    }

    .hojas {
        position: absolute;
        width: 70vw;
        height: 80vw;
        margin-top: -93vw;
        opacity: 0.6;
    }

    .hojas-2 {
        position: absolute;
        width: 70vw;
        height: 80vw;
        margin-top: 90vw;
        margin-left: 10vw;
    }

    .hojas-3 {
        position: absolute;
        width: 70vw;
        height: 80vw;
        margin-right: 20vw;
        margin-top: -17vw;

    }
}