body {
    margin: 0;
    /*elimina cualquier espacio o margen externo alrededor del elemento*/
    background-image: url("../../Generales/img/fondo.jpeg");
    position: fixed;
    /*hace que el elemento esté "fijo" respecto al viewport */
    width: 100%;
    /*establece el ancho del elemento al 100% del ancho de su contenedor*/
    height: 100%;
    /*establece la altura del elemento en el 100% de la altura visible del viewport*/
    background-size: cover;
    /*ajusta la imagen de fondo,la hace responsive.*/
    background-repeat: no-repeat;
    /*No se repite.*/
    background-attachment: fixed;
    /*Permanece fija mientras se hace scroll.*/
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hojas {
    width: 33vw;
    height: 33vw;
    opacity: 0.8;
    z-index: 1;
   margin-right: 70vw;
   position: absolute;
   margin-top: -16vw;
  
}

.hojas-2 {
    width: 33vw;
    height: 33vw;
    opacity: 0.8;
    z-index: 1;
   margin-right: 72vw;
   position: absolute;
    /* 50% de transparencia */
    z-index: 1;
    /* Volteo horizontal */
    transform: rotate(-150deg);
    /* Opcional: ajusta el contenedor si es necesario */
    margin-top: 22vw;
}
.hojas-3 {
    width: 33vw;
    height: 33vw;
    opacity: 0.8;
    margin-left:66vw;
   position: absolute;
   margin-top: 12vw;
    z-index: 1;
    transform: rotate(90deg);
    margin-bottom: 20vw;
}
.cuadro {
    background-color: rgba(14, 78, 62, 0.5);
    height: 30vw;   
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;    
    padding: 20px;
    width: 35vw;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

.social-icon {
    width: 50px;
    margin-right: 6px;
}
.dino-image {
    width: 230px;
    margin-left: -24vw;
    margin-top: -60px;
}
.boton{
    margin-left: 30vw;
    margin-top: -1vw;
    cursor: pointer;
}
.direccion{
    margin-top: -60px;
    margin-left: -90px;
    gap: -80px;
}
.iconos{
    background-color: white;
    border-radius: 20px;
    width: 20vw;
    margin-top: 2vw;
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente si es necesario */
    gap: 10px; /* Espacio entre los iconos */
    margin-top: -160px;  
}
.letra {
    font-family: "Kavoon", serif;
    color:  rgb(0, 255, 0);
    font-size: 2.7vw;
    font-weight: 300;
    margin: 0;
}
.mascot {
    background-repeat: no-repeat;
    opacity: 0.4;
}
@media (orientation:portrait) {

    .cuadro {
        background-color: rgba(14, 78, 62, 0.5);
        height: 180vw;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;    
        padding: 20px;
        width: 75vw;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        position: relative;
    }
    .dino-image {
        width: 23vw;
        margin-left: -40vw;
        margin-top: -6px;
    }
    .close-btn {
        margin-left: 30vw;
        margin-top: -7vw;
        height: 8vw;
        width: 8vw;
    }
    .letra {
        font-family: "Kavoon", serif;
        color:  rgb(0, 255, 0);
        font-size: 5.1vw;
        font-weight: 300;
        margin: 0;
    }
    .ms-3 {
        height: 12vw;
        width: 43vw;
        margin-left: 32vw;
        

    }
    .social-icon{
        height: 10vw;
        width: 10vw;
        margin-left: -2vw;
        margin-top: 1vw;
    }

    
}