body {
    margin: 0;
    /*elimina cualquier espacio o margen externo alrededor del elemento*/
    background-image: url("/Generales/img/fondo.jpeg");
    position: fixed;
    /*hace que el elemento esté "fijo" respecto al viewport */
    width: 100%;
    /*establece el ancho del elemento al 100% del ancho de su contenedor*/
    height: 100%;
    /*establece la altura del elemento en el 100% de la altura visible del viewport*/
    background-size: cover;
    /*ajusta la imagen de fondo,la hace responsive.*/
    background-repeat: no-repeat;
    /*No se repite.*/
    background-attachment: fixed;
    /*Permanece fija mientras se hace scroll.*/
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cuadro {
    background-color: rgba(14, 78, 62, 0.5);
    height: 30vw;   
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;    
    padding: 20px;
    width: 35vw;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.cuadro h2, .cuadro h3 {
    color: #00FF00; /* Color verde brillante */
    font-family: 'Comic Sans MS', sans-serif;
}
.social-icon {
    width: 50px;
    margin-right: 6px;
}
.dino-image {
    width: 200px;
}
.boton{
    margin-left: 30vw;
    margin-top: -1vw;
    cursor: pointer;
}
.direccion{
    margin-top: -60px;
    margin-left: -90px;
    gap: -80px;
}
.iconos{
    background-color: white;
    border-radius: 20px;
    width: 20vw;
    margin-top: 2vw;
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente si es necesario */
    gap: 10px; /* Espacio entre los iconos */
}