body, html {
    margin: 0;
    /*elimina cualquier espacio o margen externo alrededor del elemento*/
    background-image: url("../../Generales/img/fondo.jpeg");
    position: fixed;
    /*hace que el elemento esté "fijo" respecto al viewport */
    width: 100%;
    /*establece el ancho del elemento al 100% del ancho de su contenedor*/
    height: 100%;
    /*establece la altura del elemento en el 100% de la altura visible del viewport*/
    background-size: cover;
    /*ajusta la imagen de fondo,la hace responsive.*/
    background-repeat: no-repeat;
    /*No se repite.*/
    background-attachment: fixed;
    /*Permanece fija mientras se hace scroll.*/
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hojas {
    width: 33vw;
    height: 33vw;
    opacity: 0.8;
    z-index: 1;
    margin-right: 70vw;
    position: absolute;
    margin-top: -21vw;
  }
  

  .hojas-2 {
    width: 33vw;
    height: 33vw;
    opacity: 0.8;
    margin-right: 84vw;
    position: absolute;
    /* 50% de transparencia */
    z-index: 1;
    /* Volteo horizontal */
    transform: rotate(-150deg);
    /* Opcional: ajusta el contenedor si es necesario */
    margin-top: 22vw;
  }

.hojas-3 {
    width: 33vw;
    height: 33vw;
    opacity: 0.8;
    margin-left:66vw;
   position: absolute;
   margin-top: 12vw;
    z-index: 1;
    transform: rotate(90deg);
    margin-bottom: 20vw;
}

.cuadro {
    background-color: rgba(14, 78, 62, 0.5);
    height: 43vw;
    width: 43vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.settings-title {
    font-family: "Kavoon", serif;
    color:  rgb(0, 255, 0);
    font-size: 3.5vw;
    margin: 0;
}
.close-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 39vw;
    margin-top: -12vw;
    z-index: 9999;
    position: relative;
}

.close-btn:hover {
    opacity: 0.8;
}

.dinochibi{
    background-image: url("../../Generales/img/dinosaurio-cute.png");
    background-size: 100%;
    width: 20vw;
    height: 20vw;
    margin-right: 25vw;
    margin-top: 20vw;
    position: absolute;
    margin-left: -5vw;
}
.mascot{
    background-image: url("../../Generales/img/logo.png");
    background-repeat: no-repeat;
    background-position: 0px;
    background-size: 80%;
    width: 10vw;
    height: 10vw;
    opacity: 0.4;
    overflow: hidden;
    margin-left: 1vw;
    margin-top: -3vw;
    margin-bottom: 1vw;
}
.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    background-color: #FFF9C4;
    border-radius: 10px;
    padding: 10px;
    width: 27vw;
    height: 4.5vw;
    margin-left: -3vw;
}
.option-text {
    font-size: 2vw;
    color: black;
    margin-left: -8vw;
}

.option-text-2 {
    font-size: 2vw;
    color: black;
    margin-left: -10vw;
}

.botonn {
    background-color: #FFF9C4;
    border: none;
    text-align: left;
    padding: 12px;
    margin-bottom: 10px;
    width: 27vw;
    height: 4.5vw;
    border-radius: 10px;
    font-size: 1.9vw;
    cursor: pointer;
    margin-left: -3vw;
}
.bot-logout {
    font-weight: bold;
}
.boton{
    position: relative;
    z-index: 9999;
}

.contenedor-recuadros{
    width: 22vw;
    margin-left: 12vw;
}

.rojo{
    background-color: red;
}

.toggle {
    width: 50px;
    height: 30px;
    background-color: #F44336; /* Rojo cuando está apagado */
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease; /* Transición suave */
}

.toggle.active {
    background-color: #4CAF50; /* Verde cuando está encendido */
}

.toggle::before {
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: white;
    top: 2px;
    left: 2px; /* Comienza a la izquierda */
    transition: transform 0.2s ease;
}

.toggle.active::before {
    transform: translateX(20px); /* Mueve la bolita a la derecha cuando está activo */
}

.modal-header {
    background-color:  rgba(35, 80, 69, 0.637) ;  /* Fondo verde translúcido */
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: none;

}
.logoModal {
    background-repeat: no-repeat;
    background-position: 0px;
    background-size: 100%;
    width: 17%;
    height: 22%;
    opacity: 0.6;
    margin-top: 0.5vw;
}
.modal-body {
    background-color:rgba(35, 80, 69, 0.637) ; 
    padding-top: 1vw;
}


.modal-title{
    color: rgb(9, 255, 9);
    font-family: "Kavoon", serif;
    font-size: 2.5vw;
    margin-left: 3vw;
}
 
.contexto{
    background-color: rgb(255, 255, 255);
    border-radius: 1.3rem;
    padding: 1.5vw;
    width: 80%;
    margin-left: 4vw;
    font-family: "Kavoon", serif;
    margin-top: -1vw;

}

.custom-close {
    background-image: url("../../Generales/img/cerrar.png"); /* Reemplaza por la ruta de tu icono */
    background-size: contain;
    background-repeat: no-repeat;
    width: 3vw;
    height: 3vw;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}
.Bingo{
    background-repeat: no-repeat;
    background-position: 0px;
    background-size: 100%;
    width: 30vw;
    margin-top: 0.5vw;
    margin-left: 1vw;
}

@media (orientation: portrait){

    .cuadro{
        width: 110vw;
        height: 200vw;
        z-index: 10;  
    }
    .modal-title{
        color: rgb(9, 255, 9);
        font-family: "Kavoon", serif;
        font-size: 4vw;
        margin-left: 3vw;
        margin-top: 5vw;
    }

    .contexto{
        background-color: rgb(255, 255, 255);
        border-radius: 1.3rem;
        padding: 1.5vw;
        width: 80%;
        margin-left: 9vw;
        font-family: "Kavoon", serif;
        margin-top: -1vw;
    
    }
    .logoModal {
        background-repeat: no-repeat;
        background-position: 0px;
        background-size: 100%;
        width: 25vw;
        height: 25vw;
        opacity: 0.6;
        margin-top: 0.5vw;
    }
    .custom-close {
        background-image: url("../../Generales/img/cerrar.png"); /* Reemplaza por la ruta de tu icono */
        background-size: contain;
        background-repeat: no-repeat;
        width: 10vw;
        height: 10vw;
        cursor: pointer;
        position: absolute;
        top: 1vw;
        right: 1vw;
    }
    .Bingo{
        background-repeat: no-repeat;
        background-position: 0px;
        background-size: 100%;
        width: 70vw;
        height: 20vw;
        margin-top: 0.5vw;
        margin-left: 10vw;
    }


    .close-btn {
        margin-left: 90vw;
        margin-top: -70vw;
        height: 10vw;
        width: 10vw;
        margin-bottom: 15vw;
     
    }
    .option {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        background-color: #FFF9C4;
        border-radius: 10px;
        padding: 15px;
        width: 55vw;
        height: 15vw;
        margin-left: -3vw;
    }
    .botonn {
        background-color: #FFF9C4;
        border: none;
        text-align: left;
        padding: 12px;
        margin-bottom: 12px;
        width: 55vw;
        height: 15vw;
        border-radius: 10px;
        font-size: 3.5vw;
        cursor: pointer;
        margin-left: -3vw;
        
    }

    .settings-title {
        font-family: "Kavoon", serif;
        color:  rgb(0, 255, 0);
        font-size: 11vw;
        margin-bottom: 5vw;
        margin-top: -5vw;
    }

    .dinochibi{
        background-image: url("../../Generales/img/dinosaurio-cute.png");
        background-size: 100%;
        width: 60vw;
        height: 60vw;
        margin-right: 20vw;
        margin-top: 90vw;
        position: absolute;
        margin-left: -150px;
    }
    .mascot{
        background-image: url("../../Generales/img/logo.png");
        background-repeat: no-repeat;
        background-position: 0px;
        background-size: 80%;
        width: 50vw;
        height: 50vw;
        opacity: 0.4;
        overflow: hidden;
        margin-left: 10vw;
        margin-top: -15vw;
    }
    .contenedor-recuadros{
        width: 22vw;
        margin-left: 8vw;
    }
    .option-text-2 {
        font-size: 17px;
        color: black;
        margin-left: -1vw;
    }
    .option-text {
        font-size: 15px;
        color: black;
        margin-left: 0.5vw;
    }
    .toggle {
        width: 57px;
        height: 30px;
        background-color: #4CAF50;
        border-radius: 15px;
        position: relative;
        cursor: pointer;
        transition: background-color 0.2s ease; /* Transición rápida */
        
    }
    .header{
        margin-top: 20vw;
    }
    .hojas {
        width: 33vw;
        height: 33vw;
        opacity: 0.8;
        z-index: 1;
        margin-right: 70vw;
        position: absolute;
        margin-top: -90vw;
        margin-left: 10vw;
        z-index: 1;
      }
      .hojas {
        position: absolute;
        width: 110vw;
        height: 110vw;
        margin-top: -110vw;
        opacity: 0.6;
        z-index: 1;
    }

    .hojas-2 {
        position: absolute;
        width: 120vw;
        height: 120vw;
        margin-top: 90vw;
        margin-left: 10vw;
        z-index: 1;
    }

    .hojas-3 {
        position: absolute;
        width: 110vw;
        height: 110vw;
        margin-right: 25vw;
        margin-top: 10vw;
        z-index: 1;

    }
      

}