.modal-title {
  font-family: "Kavoon", serif;
  font-size: 1.7vw;
  text-align: center;
}
.modal-header {
  background-color: rgb(255, 249, 195);
}
.modal-body {
  background-color: rgb(255, 249, 195);
  width: 22vw;
}
.modal-dialog {
  margin-top: 10vw;
  margin-left: 8vw;
}
.modal-content {
  border: none;
  border-radius: 2vw;
  overflow: hidden;
  margin-top: 22vw;
  margin-left: 37vw;
}
p {
  font-family: "Kavoon", serif;
  color: black;
}
.botones-modal {
  font-family: "Kavoon", serif;
  background-color: rgb(189, 230, 115);
  border-radius: 1.2rem;
  border: none;
  padding: 0.5vw 1.8vw;
  font-size: 2vw;
  cursor: pointer;
  box-shadow: inset 0px 4px 6px rgba(65, 65, 65, 0.3);
  margin-left: 1vw;
}
