body {
    margin: 0;
    /*elimina cualquier espacio o margen externo alrededor del elemento*/
    background-image: url("../../../Generales/img/fondo.jpeg");
    position: fixed;
    /*hace que el elemento esté "fijo" respecto al viewport */
    width: 100%;
    /*establece el ancho del elemento al 100% del ancho de su contenedor*/
    height: 100%;
    /*establece la altura del elemento en el 100% de la altura visible del viewport*/
    background-size: cover;
    /*ajusta la imagen de fondo,la hace responsive.*/
    background-repeat: no-repeat;
    /*No se repite.*/
    background-attachment: fixed;
    /*Permanece fija mientras se hace scroll.*/
}

#contenedor {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    /*establece el ancho del elemento al 100% del ancho de su contenedor*/
    height: 100vh;
}

.hojas {
    width: 33vw;
    height: 33vw;
    opacity: 0.8;
   margin-right: 70vw;
   position: absolute;
   margin-top: -16vw;
   z-index: 1;
  
}

.hojas-2 {
    width: 33vw;
    height: 33vw;
    opacity: 0.8;
   margin-right: 72vw;
   position: absolute;
    /* 50% de transparencia */
    z-index: 1;
    /* Volteo horizontal */
    transform: rotate(-150deg);
    /* Opcional: ajusta el contenedor si es necesario */
    margin-top: 22vw;
}
.hojas-3 {
    width: 33vw;
    height: 33vw;
    opacity: 0.8;
    margin-left:66vw;
   position: absolute;
   margin-top: 12vw;
    z-index: 1;
    transform: rotate(90deg);
    margin-bottom: 20vw;
}
.cuadro {
    background-color: rgba(14, 78, 62, 0.5);
    width: 32vw;
    height: 45vw;   
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    
}
.logo {
    background-image: url("../../../Generales/img/logo.png");
    background-repeat: no-repeat;
    background-position: 0px;
    background-size: 100%;
    width: 40%;
    height: 40%;
    opacity: 0.6;
    margin-bottom: -2vw;
}
.input-container{
    position: relative;
    display: flex;
    flex-direction:row;
    align-items: center;
}
.input{
    width: 3.5vw;
    height: 3.5vw;
    background-color: rgb(255, 254, 207);
    border-radius: 1rem;
    border: none;
    margin-bottom: 1vw;
    margin: 1vw;
    text-align: center;
    font-family: "Kavoon", serif;
    box-shadow: 8px -2px 2px rgba(0, 0, 0, 0.3)
}
    

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.cuadro-texto{
    font-family: "Kavoon", serif;
    background-color: rgb(255, 254, 207);
    border-radius: 1.2rem;
    padding: 2vw 1.5vw;
    width: 26vw;
    height: 8vw;
    margin-top: 2vw;
    margin-bottom: 1vw;
    box-shadow: 8px -2px 2px rgba(0, 0, 0, 0.3)

}
.enviar{
    font-family: "Kavoon", serif;
    background-color: rgb(189, 230, 115);
    border-radius: 1.2rem;
    border: none;
    margin-top: 4%;
    padding: 0.5vw 2vw;
    font-size: 2vw;
    cursor: pointer;
    box-shadow: 8px -2px 2px rgba(0, 0, 0, 0.3)
}
.enviar:hover{
    box-shadow: 0.5px 0.5px 4px 2px #0f9b0f;
}
.cerrar {
    position: absolute;
    margin-left: 28vw;
    width: 2.5vw;
    margin-top: 0.5vw;
    cursor: pointer;
  }
.reenviar{
    margin-top: 2vw;
    cursor: pointer;
    margin-right: 15vw;
    font-family: "Kavoon", serif;
    font-size: 1.5vw;

}


/*modificaciones para una pantalla vertical*/
@media (orientation:portrait) {

    .logo {
        width: 32vw;
        height: 47vw;
       margin-top: -8vw;
       margin-bottom: -7vw;
     

    }
    #contenedor{
        width: 100%;
    }
    .cuadro{
        width: 100%;
        height: 80%;   
       z-index: 10;
    }
    .cerrar {
        width: 10vw;
        margin-left: 80vw;
      }    
    .input{
        width: 10vw;
        height: 10vw;
        margin-bottom: 6vw;
        border-radius: 0.7rem;
        margin-top: 5vw;
        margin-right: 3vw;
    
    }
    .cuadro-texto{
        padding: 5vw 5vw;
        width: 70vw;
        height: 38vw;
        margin-top: 2vw;
        margin-bottom: 1vw;
        text-align: center;
    
    }
    .enviar{
       margin-top: -0.1vw;
        padding: 1vw 8vw;
        font-size: 6vw;
        margin-bottom: 1vw;
        border-radius: 0.8rem;

    }
    .reenviar{
      margin-right: 30vw;
      font-size: 5vw;
    }
    .hojas{
       position: absolute;
       width: 70vw;
       height: 80vw;
       margin-top: -93vw;
       opacity: 0.6;
    }
    .hojas-2{  position: absolute;
        width: 70vw;
        height: 80vw;
        margin-top: 90vw;
        margin-left: 20vw;
    }

    .hojas-3{  position: absolute;
        width: 70vw;
        height: 80vw;
       margin-right: 10vw;
       margin-top: -17vw;

    }
}

    