body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background-color: black; /* Color de fondo inicial */
}
.logo{
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    width: 70%;
    height: 70%;
    
}
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/fondo.jpeg'); /* Imagen de fondo */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0; /* Inicialmente invisible */
    transition: opacity 3s ease; /* Transición para la opacidad */
    z-index: -1; /* Asegura que la imagen esté detrás del contenido */
}

.show-background .background {
    opacity: 1; /* Hace visible la imagen */
}

.centrado-total {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-bottom: -8%;
    margin-top: -5%;
}

   
.gifts{
    opacity: 0;
    transition: opacity 2s ease; /* Transición suave para hacer visible gifts */
    display: flex;
    align-items: center;
    justify-content: center;

}
.show-gifts .gifts {
    opacity: 1; /* Hace visible los elementos de gifts */
}

.loader{
    margin-left: 8%;
    
}
.dino1{
    position: relative;
    animation: mover-lado 10s ease-in-out infinite; /* Duración de 4 segundos, movimiento suave, infinito */
    margin-left: -18%;
}
@keyframes mover-lado {
    0% { transform: translateX(0); }
    100% { transform: translateX(500px); } /* Mueve 100px a la derecha */
    20% { transform: translateX(0); } /* Vuelve a la posición original */
    0%, 100% { opacity: 1; } /* Comienza y termina opaco */
    50% { opacity: 1; }      /* A la mitad, se vuelve transparente */
    100% { opacity: 0; } 
}



