body {
    margin: 0;
    /*elimina cualquier espacio o margen externo alrededor del elemento*/
    background-image: url("../../../Generales/img/fondo.jpeg");
    position: fixed;
    /*hace que el elemento esté "fijo" respecto al viewport */
    width: 100%;
    /*establece el ancho del elemento al 100% del ancho de su contenedor*/
    height: 100%;
    /*establece la altura del elemento en el 100% de la altura visible del viewport*/
    background-size: cover;
    /*ajusta la imagen de fondo,la hace responsive.*/
    background-repeat: no-repeat;
    /*No se repite.*/
    background-attachment: fixed;
    /*Permanece fija mientras se hace scroll.*/

}

#todo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    /*establece el ancho del elemento al 100% del ancho de su contenedor*/
    height: 100vh;
}

.hojas {
    width: 33vw;
    height: 33vw;
    opacity: 0.8;
    z-index: 1;
    margin-right: 70vw;
    position: absolute;
    margin-top: -21vw;
  }
  
  .hojas-2 {
    width: 33vw;
    height: 33vw;
    opacity: 0.8;
    margin-right: 84vw;
    position: absolute;
    /* 50% de transparencia */
    z-index: 1;
    /* Volteo horizontal */
    transform: rotate(-150deg);
    /* Opcional: ajusta el contenedor si es necesario */
    margin-top: 22vw;
  }
   
.hojas-3 {
    width: 33vw;
    height: 33vw;
    opacity: 0.8;
    z-index: 99;
    margin-left: 70vw;
   position: absolute;
   margin-top: 12vw;
    /* 50% de transparencia */
    z-index: 1;
    /* Volteo horizontal */
    transform: rotate(90deg);
    /* Opcional: ajusta el contenedor si es necesario */
    
    margin-bottom: 20vw;
    

}
.cuadro {
    background-color: rgba(1, 61, 46, 0.5);
    width: 35%;
    height: 42vw;   
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
   
   
}

.titulo {
    color: rgb(9, 255, 9);
    font-family: "Kavoon", serif;
    font-size: 3vw;
    margin-top: 3vw;

}

.logo {
    background-image: url("../../../Generales/img/logo.png");
    background-repeat: no-repeat;
    background-position: 0px;
    background-size: 100%;
    width: 20vw;
    height: 35vw;
    opacity: 0.6;
    
   
}



.inicio {
    font-family: "Kavoon", serif;
    background-color: rgb(255, 254, 207);
    border-radius: 1.2rem;
    border: none;
    padding: 0.5vw 1vw;
    font-size: 2vw;
    cursor: pointer;
    box-shadow: 8px -2px 2px rgba(0, 0, 0, 0.3)
}
    
.inicio:hover{
    box-shadow: 0.5px 0.5px 6px 2px rgb(143, 243, 12);
}
.registro:hover{
    box-shadow: 0.5px 0.5px 6px 2px rgb(143, 243, 12);
}
.registro {
    font-family: "Kavoon", serif;
    background-color: rgb(255, 254, 207);
    border-radius: 1.2rem;
    border: none;
    margin-top: 4%;
    padding: 0.5vw 2vw;
    font-size: 2vw;
    cursor: pointer;
    margin-bottom: 3vw;
    box-shadow: 8px -2px 2px rgba(0, 0, 0, 0.3)
}



/*modificaciones para una pantalla vertical*/
@media (orientation:portrait) {

    .logo {
       
        width: 50%;
        height: 70vw;
        margin-top: 4vw;
        margin-bottom: 3vw;

    }
    .cuadro{
        width: 100vw;
        height: 200vw;  
    } 
    .titulo{
        font-size: 11vw;
        margin-top: 30vw;
    }
    .inicio {
        padding: 2.0vw 3vw;
        font-size: 8vw;
        border-radius: 0.8rem;

        
    }
        
    
    .registro {
        margin-top: 6%;
        padding: 2.0vw 6vw;
        font-size: 8vw;
        margin-bottom: 1vw;
        border-radius: 0.8rem;

        

    }
    .hojas {
        position: absolute;
        width: 110vw;
        height: 110vw;
        margin-top: -110vw;
        opacity: 0.6;
    }

    .hojas-2 {
        position: absolute;
        width: 120vw;
        height: 120vw;
        margin-top: 90vw;
        margin-left: 10vw;
    }

    .hojas-3 {
        position: absolute;
        width: 110vw;
        height: 110vw;
        margin-right: 25vw;
        margin-top: 10vw;

    }
}

    