body {
    margin: 0;
    /*elimina cualquier espacio o margen externo alrededor del elemento*/
    background-image: url("../../Generales/img/fondo.jpeg");
    position: fixed;
    /*hace que el elemento esté "fijo" respecto al viewport */
    width: 100%;
    /*establece el ancho del elemento al 100% del ancho de su contenedor*/
    height: 100%;
    /*establece la altura del elemento en el 100% de la altura visible del viewport*/
    background-size: cover;
    /*ajusta la imagen de fondo,la hace responsive.*/
    background-repeat: no-repeat;
    /*No se repite.*/
    background-attachment: fixed;
    /*Permanece fija mientras se hace scroll.*/
}

#contenedor {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    /*establece el ancho del elemento al 100% del ancho de su contenedor*/
    height: 100vh;
}

.hojas {
    width: 33vw;
    height: 33vw;
    opacity: 0.8;
    z-index: 1;
    margin-right: 70vw;
    position: absolute;
    margin-top: -21vw;
  }


.hojas-2 {
  width: 33vw;
  height: 33vw;
  opacity: 0.8;
  margin-right: 84vw;
  position: absolute;
  /* 50% de transparencia */
  z-index: 1;
  /* Volteo horizontal */
  transform: rotate(-150deg);
  /* Opcional: ajusta el contenedor si es necesario */
  margin-top: 22vw;
}

.hojas-3 {
    width: 33vw;
    height: 33vw;
    opacity: 0.8;
    margin-left:66vw;
   position: absolute;
   margin-top: 12vw;
    z-index: 1;
    transform: rotate(90deg);
    margin-bottom: 20vw;
}
.cuadro {
    position: relative;
    background-color: rgba(14, 78, 62, 0.5);
    width: 34vw;
    height: 37vw;   
    display: flex;
    flex-direction: column;
    align-items: center;
   border:0cap;
   z-index: 10;
}
.titulo {
    color: rgb(0, 255, 0);
    font-family: "Kavoon", serif;
    font-size: 2vw;
    margin-top: 0.5vw;
}
.cerrar {
    position: absolute;
    margin-left: 31vw;
    width: 2.3vw;
    margin-top: 0.5vw;
    cursor: pointer;
  }

.logo {
    background-image: url("../../Generales/img/logo.png");
    background-repeat: no-repeat;
    background-position: 0px;
    background-size: 100%;
    width: 25%;
    height: 30%;
    opacity: 0.6;
    margin-top: -1vw;
    
}


.Name{
    font-size: 1.5vw ;
    margin-right: 6vw;
    color: black;
}    

.dos{
    margin-left: 3vw;
}

.input{
    width: 23vw;
    height: 4vw;
    background-color: rgb(255, 254, 207);
    border-radius: 0.4rem;
    border: none;
    margin-bottom: 1vw;;

}

.input-container {
    position: relative;
    margin-bottom: 1rem;
}

.i {
    position: absolute;
    left: 4%;
    top: 45%;
    transform: translateY(-50%);
    color: #aaa;
   
}


.input-container input {
    padding: 4% 4% 4% 16%; /* Deja espacio para el ícono dentro del input */
    
}
#contraseña{
    padding: 7% 4% 4% 16%; /* Deja espacio para el ícono dentro del input */
}

.enviar{
    font-family: "Kavoon", serif;
    background-color: rgb(189, 230, 115);
    border-radius: 1.2rem;
    border: none;
    margin-top: 4%;
    padding: 0.5vw 2vw;
    font-size: 2vw;
    cursor: pointer;
    box-shadow: 8px -2px 2px rgba(0, 0, 0, 0.3);
    margin-left: 5.5vw;
}
.enviar:hover{
    box-shadow: 0.5px 0.5px 4px 2px #0f9b0f;
}
.Bingo{
    background-repeat: no-repeat;
    background-position: 0px;
    background-size: 100%;
    width: 30vw;
    margin-top: 0.5vw;
    margin-left: 1vw;
}
/*modificaciones para una pantalla vertical*/
@media (orientation:portrait) {

    .logo {
        width: 28vw;
        height: 43vw;
       margin-bottom: -4vw;
       margin-top: -5vw;
     

    }
    #contenedor{
        width: 100%;
    }
    .cuadro{
        width: 100%;
        height: 70%;   
        z-index: 10;
       
    }
    .titulo{
        font-size: 6vw;
        margin-top: 4vw;
    }
    .cerrar {
        width: 8vw;
        margin-left: 85vw;
      } 
  
    .password{
        font-size: 5vw ;
        margin-right: 32vw;
        margin-bottom: 0.5vw;
        margin-left: 34vw;
        width: 60vw;
    }    
   
    .input{
        width: 60vw;
        height: 9vw;
        margin-bottom: 4vw;;
    
    }
   
    .i {
        left: 4%;
        top: 42%;
        width: 5vw;
        height: 5vw;
    }
  
    .enviar{
       
        padding: 2vw 6vw;
        font-size: 4vw;
        margin-bottom: 1vw;
        border-radius: 0.8rem;
        margin-left: 20vw;
        width: 28vw;
    }

    .Name {
        font-size: 5vw;
    }
  

    .hojas{
       position: absolute;
       width: 70vw;
       height: 80vw;
       margin-top: -93vw;
       opacity: 0.6;
    }
    .hojas-2{  position: absolute;
        width: 70vw;
        height: 80vw;
        margin-top: 90vw;
        margin-left: 10vw;
    }

    .hojas-3{  position: absolute;
        width: 70vw;
        height: 80vw;
       margin-right: 20vw;
       margin-top: -17vw;

    }
}

.input.is-invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.invalid-tooltip {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 5;
    max-width: 100%;
    padding: 0.25rem 0.5rem;
    margin-top: 0.1rem;
    font-size: 0.875rem;
    color: #fff;
    background-color: rgba(220, 53, 69, 0.9);
    border-radius: 0.25rem;
}

.input.is-invalid ~ .invalid-tooltip {
    display: block;
}

.cuadro #error-animation {
    position: absolute;
    top: 8vw;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}