body {
    margin: 0;
    /*elimina cualquier espacio o margen externo alrededor del elemento*/
    background-image: url("../../Generales/img/fondo.jpeg");
    position: fixed;
    /*hace que el elemento esté "fijo" respecto al viewport */
    width: 100%;
    /*establece el ancho del elemento al 100% del ancho de su contenedor*/
    height: 100%;
    /*establece la altura del elemento en el 100% de la altura visible del viewport*/
    background-size: cover;
    /*ajusta la imagen de fondo,la hace responsive.*/
    background-repeat: no-repeat;
    /*No se repite.*/
    background-attachment: fixed;
    /*Permanece fija mientras se hace scroll.*/
}

#contenedor {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    /*establece el ancho del elemento al 100% del ancho de su contenedor*/
    height: 100vh;
}

.hojas {
    width: 33vw;
    height: 33vw;
    opacity: 0.8;
    z-index: 1;
    margin-right: 70vw;
    position: absolute;
    margin-top: -21vw;
  }

.hojas-2 {
    width: 33vw;
    height: 33vw;
    opacity: 0.8;
    margin-right: 84vw;
    position: absolute;
    /* 50% de transparencia */
    z-index: 1;
    /* Volteo horizontal */
    transform: rotate(-150deg);
    /* Opcional: ajusta el contenedor si es necesario */
    margin-top: 22vw;
  }

.hojas-3 {
    width: 33vw;
    height: 33vw;
    opacity: 0.8;
    margin-left:66vw;
    position: absolute;
    margin-top: 12vw;
    z-index: 1;
    transform: rotate(90deg);
    margin-bottom: 20vw;
}
.cuadro {
    background-color: rgba(14, 78, 62, 0.5);
    width: 90vw;
    height: 44vw;   
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    
}


.comprarAvatar{
    font-family: "Kavoon", serif;
    background-color: rgb(149, 247, 110);
    border-radius: 1rem;
    border: none;
    width: 18vw;
    text-align: center;
    font-size: 2vw;
    cursor: pointer;
    color: black;
    margin-top: 0.5vw;
    margin-bottom: -0rem;
}
.precio-texto, .precio{
    font-family: "Kavoon", serif;
    background-color: #FFF48D;
    border-radius: 2rem;
    border: none;
    width: 9vw;
    height: auto;
    text-align: center;
    font-size: 3vw;
    color: black;
    margin-top: 0.5vw;
    margin-bottom: -0rem;
}

.cerrar{
   margin-left: 85vw;
   margin-top: 1vw;
   cursor: pointer;
}




@media (orientation:portrait) {

    #contenedor{
        width: 100%;
    }
    .cuadro{
        width: 100vw;
        height: 200vw;
        z-index: 10;  
    }

    .hojas {
        position: absolute;
        width: 110vw;
        height: 110vw;
        margin-top: -110vw;
        opacity: 0.6;
    }

    .hojas-2 {
        position: absolute;
        width: 120vw;
        height: 120vw;
        margin-top: 90vw;
        margin-left: 10vw;
    }
    .ContenedorAvatar{
        width: 25vw  !important;
        margin-top: 30vw;
    }

    .hojas-3 {
        position: absolute;
        width: 110vw;
        height: 110vw;
        margin-right: 25vw;
        margin-top: 10vw;

    }
    .counter-container{
        margin-left: -50vw;
        margin-top: 3vw;
        height: 10vw;
        width: 10vw;
    }
    .separador{
        height: 17vw;
        width: 32vw;
    }
    .cerrar{
        margin-left: 90vw;
        margin-top: -5vw;
        cursor: pointer;
        height: 10vw;
        width: 10vw;
     }
     .precio{
        margin-top: 25vw;
        height: 16vw;
        width: 25vw;
        font-size: 10vw;
     }

     .comprarAvatar{
        font-family: "Kavoon", serif;
        background-color: rgb(149, 247, 110);
        border-radius: 1rem;
        border: none;
        width: 70vw;
        height: 15vw;
        text-align: center;
        font-size: 9vw;
        cursor: pointer;
        color: black;
        margin-top: 10vw;
        margin-bottom: -0rem;
    }
}