body {
    margin: 0;
    background-image: url("/Generales/img/fondo.jpeg");
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#contenedor {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.hojas {
    width: 33vw;
    height: 33vw;
    opacity: 0.8;
    margin-right: 70vw;
    position: absolute;
    margin-top: -16vw;
    z-index: 1;
}

.hojas-2 {
    width: 33vw;
    height: 33vw;
    opacity: 0.8;
    margin-right: 72vw;
    position: absolute;
    /* 50% de transparencia */
    z-index: 1;
    transform: rotate(-150deg);
    margin-top: 22vw;
}

.hojas-3 {
    width: 33vw;
    height: 33vw;
    opacity: 0.8;
    margin-left: 66vw;
    position: absolute;
    margin-top: 12vw;
    z-index: 1;
    transform: rotate(90deg);
    margin-bottom: 20vw;
}

.cuadro {
    background-color: rgba(14, 78, 62, 0.5);
    width: 90vw;
    height: 44vw;   
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

.contenedor-gris {
    background-color: #cececee3;
    border-radius: 0.7rem;
    width: 58vw;
    height: 18vw;
    margin-top: 1vw;
    margin-left: 1vw;
}

.datos {
    background-color: rgb(133, 131, 131);
    font-family: "Kavoon", serif;
    border-radius: 1.2rem;
    border: none;
    padding: 0.5vw;
    font-size: 2vw;
    width: 50vw;
    margin-top: 2vw;
    margin-left: 4vw;
    display: flex;
}

.editar {
    width: 4vw;
    height: 4vw;
    background-color: rgb(255, 249, 195);
    border-radius: 0.6rem;
    background-image: url(/Generales/img/editar.png);
    background-size: 3vw;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.editar:hover{
    box-shadow: 0.5px 0.5px 4px 2px #0f9b0f;
}
.editarimagen{
    display: flex;
}
.edi-avatar{
    margin: 5vw 3vw 0 -5vw;
   
}
.edi-nom{
    margin-top: 0.5vw;
    margin-left: 1vw;
    margin-right: 22vw;
}

.texto-correo {
    margin-left: 1vw;
}

.texto-contraseña {
    margin-right: 7vw;
    margin-left: 1vw;
}

.usuario {
    background-color: rgb(243, 243, 243);
    font-family: "Kavoon", serif;
    border-radius: 1.2rem;
    border: none;
    padding: 0.6vw 1vw;
    font-size: 1.7vw;
    margin-left: 1vw;
    height: 4vw;
    width: 20vw;
    color: black;
}

.contenedor-3 {
    display: flex;
    margin-right: 13vw;
    margin-bottom: -5vw;
}

.avatarvoid {
    width: 10vw;
    height: 10vw;
    background-color: rgb(228, 226, 226);
    margin-top: 1.5vw;
    margin-bottom: 1vw;
    border-radius: 1rem;
    background-image: url(/Generales/img/usuario.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.nombre-usuario {
    font-family: "Kavoon", serif;
    background-color: rgb(149, 247, 110);
    border-radius: 1.2rem;
    border: none;
    width: 50vw;
    font-size: 2vw;
    display: flex;
    margin:10 auto; /* Esto centrará horizontalmente el elemento */
}

.nombre {
    margin-top: 1vw;
}

.dino {
    background-image: url("/Generales/img/dinosaurio-cute.png");
    background-repeat: no-repeat;
    background-position: 130% center; /* Mueve la imagen un poco hacia la derecha */
    background-size: 70%;
    width: 22vw;
    height: 22vw;
}

#navbar-container{
    margin-top: 2.3vw;
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
    .cuadro {
        width: 95vw;
        height: auto;
    }

    .hojas, .hojas-2, .hojas-3 {
        width: 70vw;
        height: 70vw;
    }

    .contenedor-gris {
        width: 80vw;
        height: auto;
    }

    .datos {
        font-size: 4vw;
        width: 70vw;
        margin-top: 5vw;
        padding: 2vw;
    }

    .usuario {
        width: 60vw;
        height: auto;
        font-size: 3.5vw;
    }

    .avatarvoid {
        width: 20vw;
        height: 20vw;
    }

    .nombre-usuario {
        width: 80vw;
        font-size: 3vw;
    }

    .editar {
        width: 6vw;
        height: 6vw;
        background-size: 5vw;
    }

    .dino {
        width: 50vw;
        height: 50vw;
    }
}

@media (orientation: portrait) {
    #contenedor {
        width: 100%;
    }
    
    .cuadro {
        width: 100%;
        height: 80%;
    }

    .titulo-contenedor {
        font-size: 8vw;
    }

    .hojas {
        position: absolute;
        width: 70vw;
        height: 80vw;
        margin-top: -93vw;
        opacity: 0.6;
    }

    .hojas-2 {
        position: absolute;
        width: 70vw;
        height: 80vw;
        margin-top: 90vw;
        margin-left: 10vw;
    }

    .hojas-3 {
        position: absolute;
        width: 70vw;
        height: 80vw;
        margin-right: 20vw;
        margin-top: -17vw;
    }
}

    