body {
    margin: 0;
    /*elimina cualquier espacio o margen externo alrededor del elemento*/
    background-image: url("../../Generales/img/fondo.jpeg");
    position: fixed;
    /*hace que el elemento esté "fijo" respecto al viewport */
    width: 100%;
    /*establece el ancho del elemento al 100% del ancho de su contenedor*/
    height: 100%;
    /*establece la altura del elemento en el 100% de la altura visible del viewport*/
    background-size: cover;
    /*ajusta la imagen de fondo,la hace responsive.*/
    background-repeat: no-repeat;
    /*No se repite.*/
    background-attachment: fixed;
    /*Permanece fija mientras se hace scroll.*/
}

#contenedor {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    /*establece el ancho del elemento al 100% del ancho de su contenedor*/
    height: 100vh;
}

.hojas {
    width: 33vw;
    height: 33vw;
    opacity: 0.8;
    z-index: 1;
    margin-right: 70vw;
    position: absolute;
    margin-top: -21vw;
  }

  .hojas-2 {
    width: 33vw;
    height: 33vw;
    opacity: 0.8;
    margin-right: 84vw;
    position: absolute;
    /* 50% de transparencia */
    z-index: 1;
    /* Volteo horizontal */
    transform: rotate(-150deg);
    /* Opcional: ajusta el contenedor si es necesario */
    margin-top: 22vw;
  }

.hojas-3 {
    width: 33vw;
    height: 33vw;
    opacity: 0.8;
    margin-left:66vw;
    position: absolute;
    margin-top: 12vw;
    z-index: 1;
    transform: rotate(90deg);
    margin-bottom: 20vw;
}
.cuadro {
    background-color: rgba(14, 78, 62, 0.5);
    width: 90vw;
    height: 44vw;   
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    
}

.contenedor-gris{
    background-color: #cececee3;
    border-radius: 0.7rem;
    width: 65vw;
    height: 18vw;
    margin-top: 1vw;
    margin-left: -9vw;   
  
   
}
.datos{
    background-color: rgb(133, 131, 131);
    font-family: "Kavoon", serif;
    border-radius: 1.2rem;
    border: none;
    padding: 0.5vw;
    font-size: 2vw;
    width: 59vw;
    margin-top: 2vw;
    margin-left: 3vw;
    display: flex;

    
}

.editar{
    width: 4vw;
    height: 4vw;
    background-color: rgb(255, 249, 195);
    border-radius: 0.6rem;
    background-image: url(../../Generales/img/editar.png);
    background-size: 3vw; /* Ajusta la imagen sin deformarla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen en el div */
    cursor: pointer;
}
.editar:hover{
    box-shadow: 0.5px 0.5px 4px 2px #0f9b0f;
}
.editarimagen{
    display: flex;
}
.edi-avatar{
    margin: 5vw 3vw 0 -5vw;
   
}
.edi-nom{
    margin-top: 0.5vw;
    margin-left: 1vw;
    margin-right: 22vw;
}
.texto-correo{
    margin-left: 5vw;
}
.correo-usuario{
    margin-left: 15vw;
   
}
.texto-contraseña{
    margin-right: 7vw;
    margin-left: 1vw;
    
}
.usuario{
    background-color: rgb(243, 243, 243);
    font-family: "Kavoon", serif;
    border-radius: 1.2rem;
    border: none;
    padding: 0.6vw 1vw ;
    font-size: 1.7vw;
    margin-left: 1vw;
    height: 4vw;
    width: 32vw;
    color:black;
}


.contenedor-3{
    display: flex;
    margin-right: 13vw;
    margin-bottom: -5vw;

   
}


.avatarvoid{
    width: 10vw;
    height: 10vw;
    background-color: rgb(228, 226, 226);
    margin-top: 1.5vw;
    margin-bottom: 1vw;
    border-radius: 1rem;
    background-size: contain; /* Ajusta la imagen sin deformarla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen en el div */
    background-image: url(../../Generales/img/usuario.png);
}

.nombre-usuario{
    font-family: "Kavoon", serif;
    background-color: rgb(149, 247, 110);
    border-radius: 1.2rem;
    border: none;
    width: 68vw;
    font-size: 2vw;
    display: flex;
    
    
}

.nombre{
    margin-top: 1vw;
    margin-left: 5vw;
    font-size: 2vw;
    
}
.dino{
    background-image: url(../../Generales/img/dinosaurio-cute.png);
    background-repeat: no-repeat;
    background-position: 70px;
    background-size: 100%;
    width: 21vw;
    height: 21vw;
    margin-right: 10vw;
    margin-left: -8vw;

   
}

#navbar-container{
    margin-top: 2.5vw;
}
@media (orientation:portrait) {

    #contenedor{
        width: 100%;
    }
    .cuadro{
        width: 100vw;
        height: 200vw;  
    }
    .avatarvoid{
        width: 30vw;
        height: 30vw;
        background-color: rgb(228, 226, 226);
        margin-top: 10vw;
        border-radius: 1rem;
        background-size: contain; /* Ajusta la imagen sin deformarla */
        background-repeat: no-repeat; /* Evita que la imagen se repita */
        background-position: center; /* Centra la imagen en el div */
        background-image: url(../../Generales/img/usuario.png);
    }
    .editarimagen{
        width: 50vw;
        height: 50vw;
        margin-left: 6vw;
        margin-top: 10vw;

    }
    
    #avatarDisplay{
        width: 20VW;
        height: 20VW;
    }
    .tabla{
        margin-top: 35vw;
        
    }
    .contenedor-gris{
        height: 60vw;
        width: 99vw;
        margin-top: 4vw;
        margin-left: -9vw;
    }
    .text-light{
        width: 95vw;
        height: 20vw;
        margin-top: 7vw;
        margin-left: 1.5vw;
    }
    .texto-contraseña{
        margin-right: 7vw;
        margin-left: 2vw;
        font-size: 5.5vw;
        
    }
    .nombre-usuario{
        margin-top: 1vw;
        font-size: 5vw;
        width: 90vw;
        height: 13vw;
    }
    .nombre{
        margin-left: 2vw;
        font-size: 7vw;
    }
    
    .texto-correo{
        font-size: 5.5vw;
        margin-left: 2vw;
        
    }
    .contraseña-usuario{
        width: 75vw;
        height: 10vw;
        margin-top: 8vw;
        margin-left: -38vw;
        font-size: 7vw;

    }
    .correo-usuario{
        width: 75vw;
        height: 9.5vw;
        margin-top: 8vw;
        margin-left: -40vw;
        font-size: 5vw;
    }
    .editar{
        width: 8vw;
        height: 8vw;
        border-radius: 2vw;
        margin-top: 3vw;
        margin-left: 3vw;
    }
    .icon{
        width: 2vw;
        height: 2vw;
        position: absolute;
        left: -7vw;
        top: 7vw;
       
    }
    .titulo-contenedor{
        font-size: 8vw;
    }

    .hojas {
        position: absolute;
        width: 110vw;
        height: 110vw;
        margin-top: -110vw;
        opacity: 0.6;
    }

    .hojas-2 {
        position: absolute;
        width: 120vw;
        height: 120vw;
        margin-top: 90vw;
        margin-left: 10vw;
    }

    .hojas-3 {
        position: absolute;
        width: 110vw;
        height: 110vw;
        margin-right: 25vw;
        margin-top: 10vw;

    }

    
}

    
